/*======================================================================
.about
=======================================================================*/

.about {
   .container {
      background-color: #fff;
   }
}

.about__row {
   justify-content: space-between;
   color: $colorBlue;
   margin-top: 150px;
}

.about__title {
   margin-top: 0;
   margin-left: 106px;
   width: 318px;
   font-size: 16px;
   font-weight: normal;
   letter-spacing: 0.06em;
   line-height: 37px;
}

.about__description {
   width: 592px;
   font-size: 24px;
   font-weight: 500;
   margin-top: 0;
   line-height: 37px;
   letter-spacing: 0.005em;
}

.about__empty {
   width: 424px;
}

.about__button {
   margin: 27px auto 10px;
   height: 50px;
   width: 250px;
   letter-spacing: 0.06em;
   color: rgba(34, 53, 111, 0.5);
   &:hover {
      color: $colorWhite;
      background-color: $colorLightBlue;
   }
}

/*======================================================================
@media for .about
=======================================================================*/


@media (max-width: 1199.98px) {
   .about__row {
      margin-top: 100px;
   }
   .about__title {
      margin-left: 100px;
      width: 270px;
   }
   .about__empty {
      width: 400px;
   }
}

@media (max-width: 991.98px) {
   .about__description {
      width: 75%;
      margin-right: 40px;
   }
   .about__empty {
      display: none;
   }
   .about__title {
      margin-left: 40px;
      width: 25%;
   }
}

@media (max-width: 767.98px) {
   .about__row {
      margin-top: 70px;
   }
}

@media (max-width: 575.98px) {
   .about__row {
      flex-direction: column;
      margin: 50px 40px 0;
   }
   .about__description {
      width: 100%;
      font-size: 22px;
   }
   .about__button {
      width: 85%;
      margin: 0px 40px 10px;
   }
   .about__title {
      margin-left: 0px;
      width: 100%;
   }
}

