.about {
   .container {
      background-color: #fff;
   }
}

.about__row {
   justify-content: space-between;
   color: $colorBlue;
   margin-top: 150px;
}

.about__title {
   margin-top: 0;
   margin-left: 106px;
   width: 318px;
   font-size: 16px;
   font-weight: normal;
   letter-spacing: 0.06em;
   line-height: 37px;
}

.about__description {
   width: 592px;
   font-size: 24px;
   font-weight: 500;
   margin-top: 0;
   line-height: 37px;
   letter-spacing: 0.005em;
}

.about__empty {
   width: 424px;
}

.about__button {
   margin: 27px auto 10px;
   height: 50px;
   width: 250px;
   letter-spacing: 0.06em;
   color: rgba(34, 53, 111, 0.5);
   &:hover {
      color: $colorWhite;
      background-color: $colorLightBlue;
   }
}
