/*======================================================================
.footer
=======================================================================*/

.footer {
   .container {
      background-color: $colorLightBlue;
   }
}

.footer__row {
   align-items: center;
   height: 80px;
}

.footer__text {
   color: $colorWhite;
   font-size: 14px;
   letter-spacing: 0.15px;
}
