/*======================================================================
.header
=======================================================================*/

.header {
   position: relative;
}

.nav {
   position: absolute;
   top: 26px;
   left: 0;
   right: 0;
}

.nav__row {
   justify-content: space-between;
   padding-right: 130px;
}

.nav__menu {
   list-style-type: none;
   padding: 0;
   margin: 9px 0 0 18px;
}

.nav__item {
   margin-right: 12px;
   a {
      text-decoration: none;
      color: $colorBlue;
      font-size: 14px;
      padding: 10px 7px;
      &:hover {
         border-bottom: 1px solid $colorBlue;
      }
   }
}

.nav__button {
   font-size: 14px;
   color: $colorWhite;
   background-color: $colorLightBlue;
   border-radius: 25px;
   margin-right: 1px;
   &:hover {
      background-color: #40b7c7;
   }
}

.nav__bar {
   display: none;
   width: 40px;
   height: 40px;
   background-image: url(../img/nav__bar.png);
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: contain;
   border: none;
   cursor: pointer;
   &:hover {
      background-image: url(../img/nav__bar-hover.png);
   }
}

.logo {
   cursor: pointer;
}

.logo__logotip {
   color: $colorLightBlue;
   font-size: 24px;
   margin: 0;
   letter-spacing: -0.7px;
}

.brand {
   .container {
      background-color: #F4F9E2;
   }
}

.brand__row {
   padding-right: 0;
   justify-content: space-between;
}

.brand__body {
   color: $colorBlue;
   padding: 242px 0px 76px 0px;
   max-width: 38%;
}

.brand__title {
   font-size: 48px;
   margin-top: 29px;
   line-height: 62px;
   letter-spacing: -1.6px;
}

.brand__description {
   font-size: 24px;
   line-height: 46px;
   padding-top: 15px;
   padding-bottom: 24px;
}

.brand__button {
   color: $colorOrange;
   letter-spacing: 1.5px;
   padding-left: 1px;
   margin-right: 26px;
   &:hover {
      color: $colorWhite;
      background-color: $colorOrange;
   }
}

.brand__img {
   background-image: url(../img/brand__img_bg.png);
   background-repeat: repeat-y;
   background-size: contain;
   max-width: 50.95%;
   img {
      max-width: 100%;
   }
}

.webp .brand__img {
   background-image: url(../img/brand__img_bg.webp);
}

/*====================================================================
@media for .header
====================================================================== */

@media (max-width: 1439.98px) {
   .brand__body {
      padding: 160px 0 50px 0;
      max-width: 45%;
   }
   
   .brand__img {
      max-width: 47%;
   }
}

@media (max-width: 1199.98px) {
   .nav__row {
      padding-right: 100px;
   }
   .brand__body {
      padding: 130px 0 50px 0;
      max-width: 45%;
   }
   .brand__title {
      font-size: 42px;
      line-height: 56px;
   }
   .brand__description {
      font-size: 22px;
      line-height: 40px;
   }
   .brand .logo__logotip {
      display: none;
   }
   .brand__img {
      max-width: 50%;
   }
}

@media (max-width: 991.98px) {
   .nav__menu {
      display: none;
   }
   .nav__button {
      display: none;
   }
   .nav__bar {
      display: block;
   }
   .nav__row {
      padding-right: 40px;
   }
   .brand__body {
      padding: 70px 0 40px 0;
      max-width: 48%;
   }
   .brand__title {
      font-size: 35px;
      line-height: 50px;
   }
   .brand__img {
      max-width: 48%;
   }
   .brand__description {
      line-height: 36px;
   }
}


@media (max-width: 767.98px) {
   .brand__row {
      flex-direction: column-reverse;
      align-items: flex-end;
   }
   .brand__body {
      max-width: 100%;
      padding: 0 50px 40px 10px;
      text-align: center;
   }
   .brand__img {
      max-width: 80%;
      margin-top: -100px;
      img {
         max-height: 450px;
      }
   }
   .brand__title {
      font-size: 32px;
      line-height: 40px;
   }
   .brand__description {
      padding-top: 0px;
      padding-bottom: 0px;
   }
   .group-btn {
      justify-content: space-around;
   }
   .brand__button {
      width: 45%;
      margin-right: 0;
   }
}


@media (max-width: 575.98px) {
   .brand__img {
      display: none;
   }
   .brand__body {
      padding: 70px 30px 40px 0px;
   }
   .nav__row {
      padding-right: 30px;
   }
   .group-btn {
      flex-direction: column;
   }
   .brand__description {
      padding-top: 10px;
      padding-bottom: 10px;
   }
}
