/*======================================================================
.ready
=======================================================================*/

.ready {
   .container {
      background-color: $colorBlue;
   }
}

.ready__row {
   justify-content: space-between;
}

.ready__body {
   color: $colorWhite;
   padding: 102px 201px 41px 180px;
   .row-flex {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   }
}

.ready__link {
   font-size: 16px;
   line-height: 12px;
   letter-spacing: 0.06em;
   color: $colorWhite;
   text-decoration: none;
}

.ready__title {
   font-size: 64px;
   line-height: 94px;
   letter-spacing: -0.01em;
   margin: 218px 0 44px;
}

.ready__text {
   font-size: 36px;
   line-height: 57px;
   letter-spacing: -0.005em;
   margin: 0 0 58px;
}

.ready__button {
   color: $colorLightBlue;
   letter-spacing: 0.1em;
   width: 180px;
   margin-left: -22px;
   &:hover {
      color: $colorWhite;
      background-color: $colorLightBlue;
   }
}

/*======================================================================
@media for .ready
=======================================================================*/

@media (max-width: 1439.98px) {
   .ready__body {
      padding: 102px 90px 41px 150px;
   }

   .ready__text {
      font-size: 34px;
      line-height: 54px;
   }

   .ready__title {
      font-size: 60px;
      line-height: 94px;
      margin: 116px 0 44px;
   }
}

@media (max-width: 1199.98px) {
   .ready__body {
      width: 50%;
      padding: 80px 80px 38px 100px;
   }

   .ready__img {
      width: 45%;
   }

   .ready__title {
      font-size: 48px;
      line-height: 60px;
      margin: 110px 0 0px;
   }

   .ready__text {
      font-size: 32px;
      line-height: 48px;
   }
}

@media (max-width: 991.98px) {
   .ready__body {
      padding: 80px 30px 38px 40px;
   }

   .ready__title {
      margin: 80px 0 20px;
   }

   .ready__img {
      img {
         height: 720px;
      }
   }
}

@media (max-width: 767.98px) {
   .ready__row {
      flex-direction: column;
   }

   .ready__body {
      width: 100%;
      box-sizing: border-box;
      padding: 50px 40px 20px 40px;
   }

   .ready__img {
      width: 100%;

      img {
         height: 500px;
         object-fit: cover;
         width: 100%;
      }
   }
}

@media (max-width: 575.98px) {
   .ready__img {
      img {
         height: 350px;
      }
   }

   .ready__title {
      font-size: 44px;
      line-height: 50px;
      margin: 80px 0 30px;
   }

   .ready__text {
      font-size: 30px;
      line-height: 40px;
   }
}



