@import 'base-style.scss';

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}

@import 'variables.scss';

@import 'fonts.scss';

body {
  font-family: $fontFamily;
  font-weight: normal;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row-padding {
  padding-left: 179px;
}

.row-flex {
  display: flex;
}

.main-content {
  flex: 1 1 auto;
}

.button {
  font-weight: bold;
  height: 50px;
  width: 150px;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.4s;
  display: block;
}

.group-btn {
  display: flex;
}

@import '_header.scss';

@import '_why.scss';

@import '_about.scss';

@import '_color-blocks.scss';

@import '_text-blocks.scss';

@import '_you-should.scss';

@import '_ready.scss';

@import '_contacts.scss';

@import '_footer.scss';

  
@import 'helper-classes.scss';